<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuarios</title>

<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<a href="/save/0" class="btn btn-primary">Agregar</a>
	</div>
	<div style="margin-top: 50px;"></div>
	<h2 th:if="${list.isEmpty()}">No hay personas</h2>
	<div th:if="${!list.isEmpty()}">
		<h2>Personas</h2>
		<table class="table">

			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Telefono</th>
					<th>Clave</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${list}">
					<td th:text="${usuario.nombre}">
					<td th:text="${usuario.apellido}">
					<td th:text="${usuario.celular}">
					<td th:text="${usuario.clave}">
					<td><a class="btn btn-info"
						th:ref="@{/save/{id}(id=${usuario.id})}">Editar</a>
					<td><a class="btn btn-danger"
						th:ref="@{/delete/{id}(id=${usuario.id})}">Eliminar</a>
			</tbody>


		</table>
	</div>
</body>
</html>